@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
    color-scheme: dark;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    min-width: 320px;
  }
}
